#!/usr/bin/bash

#SBATCH --qos=shared
#SBATCH --constraint=cpu
#SBATCH --account=alice
#SBATCH --job-name=conversion
#SBATCH --nodes=1 --ntasks=1 --cpus-per-task=1
#SBATCH --time=6:00:00
#SBATCH --array=1-{{NJOBS}}
#SBATCH --image=tch285/o2alma:latest
#SBATCH --output={{SLURM_OUT}}/slurm-%A_%a.log
{{NOTIFY_OPTS}}

config_file={{CONFIG}}

if [ -z "$SLURM_SUBMIT_DIR" ]; then
  echo "Running in test mode."
  SLURM_ARRAY_TASK_ID=1 # for testing only
else
  echo "Running in sbatch mode."
fi
shifter_cmd="shifter --image=tch285/o2alma:latest"

input_txt={{SLURM_OUT}}/input_$SLURM_ARRAY_TASK_ID.txt

echo "Input filelist: $input_txt"
echo "Files to be converted:"
sed 's/^/\t/' $input_txt

mkdir -p "{{OUTPUT}}/$SLURM_ARRAY_TASK_ID/"
output_file={{OUTPUT}}/$SLURM_ARRAY_TASK_ID/{{TREE_NAME}}

cmd="$shifter_cmd --module=cvmfs \
    /cvmfs/alice.cern.ch/bin/alienv setenv {{ROOT_PACK}} -c \
    {{CONVERTER_PATH}} \
      -i $input_txt -o $output_file -c $config_file {{CONVERSION_OPTS}}"
echo "Conversion command: $cmd"
$cmd
ecode=$?
echo "Conversion ended with code $ecode."
exit $ecode